  
<div class="wrapper">  
  <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">           
          <div class="logo-header" data-background-color="dark">
            <!-- Logo Header -->
            <a href="/home" class="logo">
              <img src="../../../assets/img/logogpt.png" alt="navbar brand" class="navbar-brand" width="100%" height="50px">
            </a>
            <!-- End Logo Header -->

            <!-- Để làm chỗ đăng nhập thành công hiện tên -->
            <div class="user-greeting dropdown" *ngIf="isLoggedIn">
              <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                👋 Xin chào, {{ userName }}
              </a>
            </div>
            <!-- Để làm chỗ đăng nhập hiện tên -->
          </div>
        </div>

        <div class="scroll-wrapper sidebar-wrapper scrollbar scrollbar-inner" style="position: relative;"><div class="sidebar-wrapper scrollbar scrollbar-inner scroll-content" style="height: 731.2px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <!-- Nút thống kê dữ liệu kho -->
              <li class="nav-item">
                <a href="/admin/dashboard" class="nav-link">
                  <p>Thống kê dữ liệu kho</p>
                </a>
              </li>

              <!-- chữ chức năng của vai trò -->
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                </span>
                <h4 class="text-section">Chức năng của vai trò</h4>
              </li>

              <!-- danh sách sản phẩm-->
              <li class="nav-item">
                <a href="/admin/dashboard" class="nav-link">
                  <p>Danh sách sản phẩm</p>
                </a>
              </li>

              <!-- Nút duyệt phiếu nhập-->
              <li class="nav-item">
                <a href="/admin/dashboard" class="nav-link">
                  <p>Duyệt phiếu nhập</p>
                </a>
              </li>

              <!-- Nút duyệt phiếu xuất -->
              <li class="nav-item">
                <a href="/admin/dashboard" class="nav-link">
                  <p>Duyệt phiếu xuất</p>
                </a>
              </li>

              <!-- Quản lý hàng tồn-->
              <li class="nav-item">
                <a href="/admin/dashboard" class="nav-link">
                  <p>Quản lý hàng tồn</p>
                </a>
              </li>

              <!-- Quản lý tài khoản-->
              <li class="nav-item">
                <a href="/admin/account-manager" class="nav-link">
                  <p>Quản lý tài khoản</p>
                </a>
              </li>

              <!-- Quản lý hóa đơn xuất nhập-->
              <li class="nav-item">
                <a href="/admin/dashboard" class="nav-link">
                  <p>Quản lý hóa đơn </p>
                </a>
              </li>

              <!-- Đăng xuất -->
              <li class="nav-item" *ngIf="isLoggedIn">
                <a href="#" class="nav-link text-danger" (click)="logout()">
                  <p>Đăng xuất</p>
                </a>
              </li>

              <!-- mẫu -->
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#charts">
                  <i class="far fa-chart-bar"></i>
                  <p>Charts</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="charts">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/admin/dashboard">
                        <span class="sub-item">Chart Js</span>
                      </a>
                    </li>
                    <li>
                      <a href="/admin/dashboard">
                        <span class="sub-item">Sparkline</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            
            </ul>
          </div>
        </div>

        <div class="scroll-element scroll-x">
          <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="width: 0px;"></div>
        </div>
        </div>

        <div class="scroll-element scroll-y">
          <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
          <div class="scroll-bar" style="height: 0px;"></div>
        </div>
        </div>
    </div>
  </div>

  <router-outlet></router-outlet> <!-- 👈 PHẢI CÓ -->

  <br>

</div>

