<!-- Tiếp nhận hàng từ đối tác -->
  <div id="cungcaphang" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="https://via.placeholder.com/500x350?text=Hinh+Anh+Kho" alt="Tiếp nhận hàng">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Dịch vụ kho</h6>
            <h2>Chúng tôi <em>tiếp nhận</em> hàng từ <span>đối tác &amp; nhà cung cấp</span></h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>1,200+</h4>
                <h6>Đơn hàng đã nhập kho</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>600+</h4>
                <h6>Đối tác gửi hàng</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>99.9%</h4>
                <h6>Chính xác kiểm kho</h6>
              </div>
            </div>
          </div>
          <p>Đối tác và nhà cung cấp có thể gửi hàng đến kho của chúng tôi để lưu trữ, xử lý và phân phối. 
            Chúng tôi đảm bảo kiểm tra, nhập kho và bảo quản hàng hóa an toàn, đúng quy trình.</p>
          <div class="main-green-button"><a href="#">Gửi hàng đến kho</a></div>
        </div>
      </div>
    </div>
  </div>